@page "/"

    <div class="row justify-content-center align-items-center h-100">
        <div class="jumbotron col-4 px-4">
            <div class="container-fluid">
                <div class="row timer justify-content-center">
                    <div class="minutes">25</div>
                    <div class="colon">:</div>
                    <div class="seconds">00</div>
                </div>
                <div class="row timer intermission">
                    <div class="col-6">Следующий перерыв</div>
                    <div class="col-3"><strong>5</strong> минут</div>
                </div>
                <div class="row justify-content-around">
                    <button class="btn btn-lg btn-success">Запуск</button>
                    <button class="btn btn-lg btn-danger">Стоп</button>
                </div>
            </div>
        </div>
    </div>
    @*<audio id="alarm-notify" src="alarm.mp3"></audio>*@