html, body, app {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

#pomodoro {
    background: #E2E2E2;
}

    #pomodoro .jumbotron {
        background: #c4c4c4;
        border-color: #a9a9a9;
        border-radius: 36px;
        box-shadow: inset 0px 0px 34px rgba(119, 119, 119, 0.25);
        padding: 85px .5rem 2rem .5rem;
    }

    #pomodoro .btn-lg {
        box-shadow: 0 4px 4px #848484;
        width: 10rem;
    }

    #pomodoro .timer {
        background: #fff;
        border-color: #c4c4c4;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
        margin-bottom: 1.5rem;
        padding: 1rem;
    }

        #pomodoro .timer.intermission {
            justify-content: space-around;
        }

        #pomodoro .timer:first-of-type {
            border-radius: 27px;
        }

            #pomodoro .timer:first-of-type * {
                font-size: 4rem;
            }

            #pomodoro .timer:first-of-type .minutes, #pomodoro .timer:first-of-type .seconds {
                border: 1px solid #c4c4c4;
                padding: .5rem 1rem;
            }

        #pomodoro .timer.intermission {
            border-color: #e9e9e9;
        }

    #pomodoro .btn-success {
        background: #40CF68;
    }

    #pomodoro .btn-danger {
        background: #DA3737;
    }

    #pomodoro .timer .colon {
        margin-left: 1rem;
        margin-right: 1rem;
    }
